<div class="container question">
	<p class="title animated flipInX">Question & Answer</p>
	<div class="container-fluid">
		<p class="well">Ask questions, answer questions. Enjoy!</p>
	</div>

	<div class="btn-wrapper btn-wrapper-login">
		<a class="btn btn-lg btn-social btn-google-plus" href="/auth/google" ng-hide="$root.currentUser.name">
			<i class="fa fa-google-plus"></i>
			Sign in with Google to begin!
		</a>
		<a class="btn btn-lg btn-social btn-facebook col-md-4" href="/auth/facebook" ng-hide="true">
			<i class="fa fa-facebook"></i>
			Sign in with Facebook
		</a>
	</div>
</div>
