
<div class="container-fluid question">
	<div class="title inline">Profile</div>
		<div class="answer">
			<form>
			  <div class="form-group">
			    <label for="bio">Bio</label>
			    <input type="textarea" class="form-control col-md-8" id="bio" placeholder="Tell about yourself!" ng-model="vm.profile.bio" />
			  </div>
			  <p ng-show="vm.showMessage">{{vm.saveMessage}}</p>

			</form>
	</div>
	
	<div class="btn-wrapper">
		<a class="btn btn-default btn-warning btn-startover" href="/#/welcome"><i class="fa fa-times"></i></a>
		<button class="btn btn-default btn-success btn-next" ng-click="vm.updateProfile()">
			<i class="fa fa-floppy-o"></i>
		</button>
	</div> 
</div>