
.btn {
	z-index: 1;
	transition: all .05s ease-in-out;
}

.btn:hover {
	border: 2px solid black;
	z-index: 5;
	transform: scale(1.1, 1);
	box-shadow: 15px 15px 10px black, -15px -15px 100px rgba(255, 255, 255, .4);
}

.btn-answer {
	transition: all .17s ease-in-out;
	z-index: 1;
}

.btn-answer:hover {
	z-index: 5;
	transform: scale(1.1, 1);
}
