/* * {
	outline: 1px solid red;
} */

html, body {
	background: #263238;
	height: 100%;
	width: 100%;
	font-size: 1em;
}

/* user info */

.user-info {
	height: 250px;
	width: 220px;
	border: 2px solid black;
	border-radius: 12px;
	background: #90A4AE;
	padding: 8px;
	position: fixed;
	top: 22px;
	left: 10px;
	text-align: center;
}

.user-info hr {
	margin: 10px;
}

.profile-header-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile-header-button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-top {
	align-self: flex-start;
}

.flex-bottom {
	align-self: flex-end;
}

.profile-image {
	height: 80px;
	width: auto;
	border: 1px solid black;
	border-radius: 5px;
}

.profile-text {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.show-fade-default {
	transition:all linear .5s;
}

.show-fade.ng-hide {
  opacity: 0;
}


/* other */

.title {
	min-height: 80px;
}

.question {
	background: #90A4AE;
	width: 60%;
	height: 520px;
	font-size: 1.5em;
	border: 2px solid black;
	border-radius: 12px;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.question-child-title {
	flex-grow: 1;
}

.question-child-main {
	flex-grow: 3;
}

.question-child-buttons {
	flex-grow: 1;
	top: .5em;
}

.title-flex {
	min-height: 80px;
	flex-grow: 1;
}

.answer {
	min-height: 80%;
	width: 100%;
	margin-left: 1.5em;
	flex-grow: 3;
}

.parent {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	justify-content: space-between;
}

.child {
	flex-grow: 1.2;
	height: 100%;
}

.btn__text {
	font-size: 1.3em;
}

.btn-wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 1px;
}

.btn-next {
	flex-grow: 2;
	height: 1.8em;
	font-size: 1.2em;
	background: #4CAF50;
	border: #4CAF50;
	color: white;
}

.btn-next:hover {
	background: #4CAF50;
	border: #4CAF50;
	color: white;
}

.btn-startover {
	flex-grow: 1;
	height: 1.8em;
	width: auto;
	max-width: 40%;
	font-size: 1.2em;
	background: #B0BEC5;
	border: #B0BEC5;
	color: white;
}

.answer-text {
	font-size: 1.4em;
}

.result-text {
	font-size: .8em;
}

.btn-answer:hover {
	background: #4CAF50;
}

.clear {
	clear:both;
}

/* For modern browsers */
.cf:before,
.cf:after {
  content:"";
  display:table;
}
 
.cf:after {
clear:both;
}
 
/* For IE 6/7 (triggers hasLayout) */
.cf {
  *zoom:1;
}

.btn {
	border-radius: 12px;
	margin-bottom: 5px;
}

#mychart {
	max-width: 60%;
	flex-grow: 4;
}

.pull-left {
	display: inline-block;
	float: left;
}

.pull-right {
	display: inline-block;
	float: right;
}

.legend {
	position: relative;
	right: 20px;
	width: 250px;
	padding: 5px;
}

/* legend > li {
	height: 1.1em;
	margin-bottom: 20px;
} */

div.custom-bullet {
	line-height: 100%;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 5px;
	height: 25px;
	width: 25px;
	border: 2px solid white;
	border-radius: 25px;
	flex-shrink: 0;
}

div.custom-bullet0 {
	background: #4527A0;
}

div.custom-bullet1 {
	background: #0D47A1;
}

div.custom-bullet2 {
	background: #c62828;
}

div.custom-bullet3 {
	background: #006064;
}

p.legend-text {
	margin-top: 5px;
	font-size: 16px;
	padding: 5px;
	line-height: 100%;
}

.legend-flex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.inline = {
	display: inline-block;
}

.clear {
	clear: both;
}

canvas {
	position: relative;
	bottom: 25px;
}

.btn-wrapper-login {
	display: flex;
	flex-direction: column;
}

.form-control {
	border-radius: 12px;
}

.btn-bluegrey:hover {
	background: #4CAF50;
	border: 1px solid #4CAF50;
	color: white;
}

.btn-bluegrey {
	background: #607D8B;
	border: 4px groove #607D8B;
	color: white;
}


